# Python cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Environment files
.env
*.env

# Virtual environments
venv/
env/
.venv/
.envrc

# Jupyter runtime logs and security
*.log
*.pid
*.sqlite3
*.db
*.lock

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini

requirements.txt~
